<div class="row">
  <div class="small-12 columns">
  	<h1>Producto </h1><h3><small>Información acerca de <%= @producto.descripcion %></small></h3>
  	<ul class="pricing-table">
		  <li class="title"><%= @producto.descripcion %></li>
		  <li class="price"><%= @producto.precio %>9</li>
		  <li class="description"><%= @producto.supermercado.nombre %></li>
		  <li class="cta-button"><a class="button" href="#">Agrega a Comparación</a></li>
		</ul>
	</div>
</div>